<h2>Cadastrar Tarefa</h2>
<form (ngSubmit)="salvar()">
  <label>Título:</label>
  <input [(ngModel)]="titulo" name="titulo" required />

  <label>Descrição:</label>
  <input [(ngModel)]="descricao" name="descricao" />

  <label>Status:</label>
  <select [(ngModel)]="status" name="status">
    <option value="Aberta">Aberta</option>
    <option value="Concluída">Concluída</option>
  </select>

  <label>Projeto:</label>
  <input type="number" [(ngModel)]="idProjeto" name="idProjeto" required />

  <button type="submit">Salvar</button>
</form>
